name: Build and Push Docker Image

on:
  workflow_dispatch:

jobs:
  docker:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_PAT }}

      - name: Build Docker image
        run: |
          docker build \
            --build-arg BUILD_NUMBER=${{ github.run_id }} \
            -t ghcr.ioReetryyy/focalboard:latest \
            -f docker/Dockerfile \
            .

      - name: Push Docker image
        run: docker push ghcr.io/<your-username>/<repo-name>:latest
